:root {
    --dark-grey-color: #6c757d;
    --white-grey-color: #f6f6f6;
    --white-real-color: #ffffff;
    --dark-font-color: #6c6c6c;
}

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
    list-style: none;
    
}

.sml-fnt {
    font-size: 0.75rem;
    margin: 0;
}

.avg-fnt {
    font-size: 1rem;
    margin: 0;
}

.lg-fnt {
    font-size: 1.25rem;
    margin: 0;
}

.xlg-fnt {
    font-size: 2rem;
}


ul {
    padding: 0px;
}

p {
    margin: 0px;
}

