main {
    width: 100%;
    background-color: var(--white-grey-color);
    display: flex;
    gap: 30px;
    padding: 3%;
}

.infoCard {
    background-color: var(--white-real-color);
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 5px;
    border-radius: 5px;
    width: 20vw;
}

.infoCard > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

ul {
    display: flex;
    gap: 10px;
}

select:hover {

    background-color: var(--dark-grey-color);
    color: var(--white-grey-color)
}

.chartsContainer--countryChart {
    width: 42vw;
    padding: 10px;
    background-color: white;
}

.chartsContainer--ageAndTotalShare > div {
    background-color: rgb(255, 255, 255);
    width: 14vw;
}

.font-weight-bold {
    font-weight: 700;
}

main p {
    color: var(--dark-font-color);
}

header > div {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

header > div > select {
    border-radius: 30px;
}