.iconContainer {
    color: white;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: -webkit-fill-available;
}

.iconContainer:hover {
    background-color: var(--white-grey-color);
    color: var(--dark-grey-color);
    cursor: pointer;
}